extends ../layout/main
include ../mixins/mixins

block title
    | index

block content
    include ../sections/hero-area
    include ../sections/service
    include ../sections/about-us
    include ../sections/works
    include ../sections/theme
    include ../sections/why-we
    include ../sections/testimonial
    include ../sections/partners
    include ../sections/contact
