@import "test";

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
  &:focus {
    outline: 0;
  }
}

button {
  &:focus {
    outline: 0;
  }
}

.text-default {
  text-transform: none !important;
}

.br-rad {
  border-radius: 5px;

  &_10 {
    border-radius: 10px;
  }
}

.col-p_9 {
  padding-right: 9px;
  padding-left: 9px;
}

.img-responce {
  width: 100%;
  height: auto;
}