@media (min-width: 300px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: $font;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $white;
  color: $color;
  font-size: 1rem;
  line-height: 1.5;
}

.main {
  flex: 1;
}

.alert {
  font-size: 14px;
}

.span-title {
  display: block;
  font-size: 0.875rem;

  &_mb {
    margin-bottom: .625rem;
  }

  &_mb_70 {
    margin-bottom: 4.375rem;
  }
}

.span-bold {
  font-size: 1.5rem;
  color: rgba(33, 33, 33, 0.702);
  text-transform: uppercase;
  display: block;
}

.green {
  color: $green;
}

.title {
  font-size: 3rem;
  color: rgb(33, 33, 33);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;

  &_mb {
    margin-bottom: 1.5rem;
  }
}

.title-h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.25rem;


}

.title-h2 {
  text-transform: uppercase;
  font-size: 2.75rem;
  margin-bottom: 0;

  &_mb {
    margin-bottom: 1.5rem;
  }

  &_mb_md {
    margin-bottom: 2.5rem;
  }

  &_mb_lg {
    margin-bottom: 4.75rem;
  }

  &_mb_xl {
    margin-bottom: 4.5rem;
  }

  &_fz {
    font-size: 3.5rem;
  }

  @media (max-width: 575px) {
    font-size: 32px;
  }
}

.title-h3 { //use
  font-size: 1.25rem;
  //font-family: OpenSans;
  color: rgb(33, 33, 33);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.title-h4 {
  font-family: $font-bold;
  font-size: 20px;
  color: rgb(24, 25, 27);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;


  a {
    color: #fff;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.lead-md {

  &_mb {
    margin-bottom: 2.5rem;
  }
}

.paragraph {
  &_s_14 {
    font-size: 0.875rem;
    line-height: normal;
  }
}

.lead { //use
  font-size: .875rem;
  margin-bottom: 0;

  &_grey {
    color: $grey;
  }


  &_mb_100 {
    margin-bottom: 6.25rem;
  }

  &_mb {
    margin-bottom: 3.125rem;
  }

  &_mb_40 {
    margin-bottom: 2.5rem;
  }
}

.btn-active {
  text-transform: uppercase;
  border: none;
  background-color: $green;
  color: $white;
  padding: 12px 36px 12px 24px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;

  &_mb {
    margin-bottom: 6.25rem;
  }

  &:hover {
    color: $white;
  }

  &_mr {
    margin-right: .875rem;
  }

  &_pl {
    padding-left: 36px;
  }

  &_w {
    width: 200px;
  }
}

.btn-about {
  text-transform: uppercase;
  border: 1px solid $green;
  background-color: transparent;
  color: $green;
  padding: 11px 36px 11px 24px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;

  &:hover {
    color: $green;
  }
}

.link {
  display: inline-block;

  &_mb {
    padding-bottom: 6.25rem;
  }
}

.mb-95 {
  margin-bottom: 5.9375rem;
}

.mb-100 {
  margin-bottom: 6.25rem;
}

.pl-45-mb {
  @media (min-width: 767px) {
    padding-left: 45px;
  }
}

.rotate-90 {
  transform: rotate(90deg);
}

.res-md {
  & > div {
    @media (max-width: 767px) {
      margin-bottom: 1rem;
    }
  }
}

.res-sm {
  & > div {
    @media (max-width: 575px) {
      margin-bottom: 1rem;
    }
  }
}

.res-lg {
  & > div {
    @media (max-width: 991px) {
      margin-bottom: 1rem;
    }
  }
}

.res-sm-a {
  & > a {
    @media (max-width: 575px) {
      margin-bottom: 1rem;
    }
  }
}


.col-xs-6 {
  @media (min-width: 320px) {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}