@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
  url("../fonts/FontAwesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
  url("../fonts/FontAwesome/fontawesome-webfont.woff?v=4.7.0") format("woff"),
  url("../fonts/FontAwesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
  url("../fonts/FontAwesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff2') format('woff2'),
  url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype'),
  url('../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}