// colors


$green: #4caf50;
$color: #212121;
$grey: #808080;
$white: #fff;
$light-grey: #CECECE;

$dark-color: #29B069;
$darkest-color: #279E5F;
$dark-color: #555;

$link-color: #3498DB;
$link-hover-color: #2c80b9;
$critical-color: #EB4D4B;

// fonts
$font: 'MyriadPro-Regular', Arial, Helvetica, sans-serif;
$font-bold: 'MyriadPro-Bold', Arial, Helvetica, sans-serif;


//$font-medium: "SanFrancisco-Medium", Arial, Helvetica, sans-serif;
