.about-us
    .container
        .row
            .offset-xl-6.col-xl-6
                span.span-title ABOUT US
                h2.title-h2.title-h2_mb_md Who we are
                p.lead.lead_mb Lorem ipsum dolor sit amet, sed dicunt oporteat cu, laboramus definiebas cum et. Duo id omnis persequeris neglegentur, facete commodo ea usu, possit lucilius sed ei. Esse efficiendi scripserit eos ex. Sea utamur iisque salutatus id.Mel autem animal ut, per id ridens eloquentiam necessitatibus. Everti vidisse quaerendum cu mei, ne epicurei atomorum convenire sea.

                a(href="").btn-active.btn-active_mr CONTACT US
                a(href="").btn-about our works
