.container
    .contact
        .row.res-md
            .col-md-7.pl-45-mb
                h1.title-h1 Call Us @02-9114147
                span.span-bold Enjoy our 24/7 support
            .offset-md-2.col-md-3.contact-btn
                a(href="").btn-active Contact Us