.footer
    .container
        .row.res-lg
            .col-12
                .footer-top.footer-top_mb
                    +svg('logo-footer','infinity-solid')
                    span.logo-text.logo-text_white infinito

            .col-lg-3.col-md-6.col-sm-6
                .footer-contact-info
                    .footer-contact-info__item
                        +svg('footer-icon','home-solid')
                        p.span-footer 35/4, Lake Circus, Kolabagan, <br> Dhaka-1205, Bangladesh
                    .footer-contact-info__item
                        +svg('footer-icon rotate-90','phone-solid')
                        p.span-footer +880 2-9114147
                    .footer-contact-info__item
                        +svg('footer-icon','envelope-regular')
                        p.span-footer info@themexpert.com
                .footer-soc
                    a(href="")
                        +svg('footer-soc-icon','twitter-brands')
                    a(href="")
                        +svg('footer-soc-icon','facebook-f-brands')
                    a(href="")
                        +svg('footer-soc-icon','google-plus-g-brands')
                    a(href="")
                        +svg('footer-soc-icon','dribbble-brands')
                    a(href="")
                        +svg('footer-soc-icon','pinterest-p-brands')
                    a(href="")
                        +svg('footer-soc-icon','vimeo-v-brands')
                    a(href="")
                        +svg('footer-soc-icon','ellipsis-h-solid')

            .col-lg-2.col-md-6.col-sm-6
                ul.footer-menu
                    li.footer-menu__item
                        a.footer-menu__link(href="") About Us
                    li.footer-menu__item
                        a.footer-menu__link(href="") Works
                    li.footer-menu__item
                        a.footer-menu__link(href="") Pricing
                    li.footer-menu__item
                        a.footer-menu__link(href="") Testimonials
                    li.footer-menu__item
                        a.footer-menu__link(href="") FAQ
                    li.footer-menu__item
                        a.footer-menu__link(href="") Contact Us

            .col-lg-2.col-md-6.col-sm-6
                ul.footer-menu
                    li.footer-menu__item
                        a.footer-menu__link(href="") Graphics Design
                    li.footer-menu__item
                        a.footer-menu__link(href="") UX Consultency
                    li.footer-menu__item
                        a.footer-menu__link(href="") Branding
                    li.footer-menu__item
                        a.footer-menu__link(href="") Web Development
                    li.footer-menu__item
                        a.footer-menu__link(href="") Mobile Applications

            .col-lg-4.col-md-6.col-sm-6
                .subscribe
                    span.subscribe__span Subscribe
                    p.subscripe__lead Lorem ipsum dolor sit amet, conse ctetur adipisicing elit
                    form.subscripe_form()
                        input.subscribe__input(type="email" placeholder="sample@email.com")
                        label
                            +svg('send-email','paper-plane-regular')
                            input.d-none(type="submit")