.hero-area
    .container
        .row
            .col-12
                .owl-carousel.slider-hero-area
                    .slider-hero-area__item
                        .slider-testimonial__content
                            h1.title.title_mb A Beautiful Template for Everyone
                            p.lead-md.lead-md_mb Here are some preview screens from the masterclass that I will step you through.
                            a(href="").btn-active.btn-active_mb.btn-active_w Purchase Now

                    .slider-hero-area__item
                        .slider-testimonial__content
                            h1.title.title_mb A Beautiful Template for Everyone
                            p.lead-md.lead-md_mb Here are some preview screens from the masterclass that I will step you through.
                            a(href="").btn-active.btn-active_w Purchase Now
