.partners
    .container
            .row
                .col-12
                    span.span-title What we are doing
                    h2.title-h2.title-h2_mb_xl service

                .col-12
                    .owl-carousel.slider-partners
                        .slider-partners__item
                           img(src="img/partners1.png" alt="")
                        .slider-partners__item
                            img(src="img/partners2.png" alt="")
                        .slider-partners__item
                            img(src="img/partners3.png" alt="")
                        .slider-partners__item
                            img(src="img/partners4.png" alt="")
                        .slider-partners__item
                            img(src="img/partners2.png" alt="")
                        .slider-partners__item
                            img(src="img/partners4.png" alt="")
                        .slider-partners__item
                            img(src="img/partners3.png" alt="")
                        .slider-partners__item
                            img(src="img/partners2.png" alt="")
                        .slider-partners__item
                            img(src="img/partners4.png" alt="")
                        .slider-partners__item
                            img(src="img/partners3.png" alt="")


