.container
    .service
        .row
            .col-12
                span.span-title What we are doing
                h2.title-h2.title-h2_mb service
            .col-sm-8.offset-sm-2
                p.lead.lead_grey.lead_mb_100 Curabitur eu adipiscing lacus, a iaculis diam. Nullam placerat blandit auctor. Nulla accumsan ipsum et nibh rhoncus, eget tempus sapien ultricies. Donec mollis lorem vehicula.
        .row.res-md
            each val in [1, 2, 3, 4]
                .col-md-3.col-sm-6
                    img.service-img.service-img_mb(src="img/service/anchor.png" alt="")
                    h3.title-h3 QUICK SETUP
                    p.lead.lead_grey orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...


