.container
    .testimonial
        .row
            .col-12
                .owl-carousel.slider-testimonial
                    .slider-testimonial__item
                        .col-lg-7.slider-testimonial__content
                            p.lead.lead_grey.lead_mb_40 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            h3.title-h3 Jhon Doe
                            span.span-title.span-title_mb_70 CEO, TREX Inc.

                    .slider-testimonial__item
                        .col-lg-7.slider-testimonial__content
                            p.lead.lead_grey.lead_mb_40 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            h3.title-h3 Jhon Doe
                            span.span-title.span-title_mb_70 CEO, TREX Inc.

                    .slider-testimonial__item
                        .col-lg-7.slider-testimonial__content
                            p.lead.lead_grey.lead_mb_40 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            h3.title-h3 Jhon Doe
                            span.span-title.span-title_mb_70 CEO, TREX Inc.

                    .slider-testimonial__item
                        .col-lg-7.slider-testimonial__content
                            p.lead.lead_grey.lead_mb_40 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            h3.title-h3 Jhon Doe
                            span.span-title.span-title_mb_70 CEO, TREX Inc.

