.theme
    .container
            .row
                .col-12
                    a(href="").link.link_mb
                        img.play-icon(src="img/play-icon.png" alt="")
                .col-12
                    h2.title-h2.title-h2_fz.title-h2_mb_xl A Beautiful theme for
                        span.green &nbsp;Everyone
                .col-12.mb-95.res-sm-a
                    a(href="").btn-active.btn-active_mr.btn-active_pl Purchase Now
                    a(href="").btn-about Live Demo
                .col-12
                    a(href="#goWhyWe").link.js-anchor-link
                        img.theme-down(src="img/down.png" alt="")