.container
    .why-we
        .row#goWhyWe
            .col-12.mb-100
                span.span-title Opportunities unlimited
                h2.title-h2.title-h2_mb Our Core features
        .row
            each val in [1, 2, 3, 4, 5, 6]
                .col-lg-4.col-md-6.col-sm-6
                    .why-we__item
                        .why-we__icon
                            +svg('anchor-svg','anchor')
                        .why-we__content
                            h3.title-h3 QUICK SETUP
                            p.lead.lead_grey orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...
