.container
    .works
        .row
            .col-12
                span.span-title OUR RECENT
                h2.title-h2.title-h2_mb_lg Works

            .col-lg-3.col-md-6.col-sm-6.col-xs-6
                ul.tabs
                    li.tab-link.current(data-tab='tab-1') All Works
                    li.tab-link(data-tab='tab-2') Graphic Design
                    li.tab-link(data-tab='tab-3') Web Design
                    li.tab-link(data-tab='tab-4') Web Development
                    li.tab-link(data-tab='tab-5') Joomla Template
                    li.tab-link(data-tab='tab-6') Branding
                a(href="").tab-more More Works
                    +svg('arrow-right', 'long-arrow-alt-right-solid')

            .col-lg-9.col-md-6.col-sm-6.col-xs-6
                #tab-1.tab-content.current
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=789" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=231" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=982" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=125" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=1" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=96" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=72" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=152" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=154" alt="")

                #tab-2.tab-content
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=789" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=231" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=982" alt="")

                #tab-3.tab-content
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=96" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=72" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=152" alt="")

                #tab-4.tab-content
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=152" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=154" alt="")

                #tab-5.tab-content
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=125" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=1" alt="")

                #tab-6.tab-content
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=982" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=125" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=1" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=96" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=72" alt="")
                    .col-lg-4.col-md-6
                        img.tab-img(src="https://picsum.photos/500/500?image=152" alt="")