.container
    .row
        .col-12
            nav.navbar.navbar-expand-md
                a.navbar-brand(href='#')
                    .logo.logo_mr
                        img.logo-img(src="img/logo/logoblack.png" alt="logo")
                        span.logo-text.logo-text_green infinito

                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar-collapse') ☰
                #navbar-collapse.collapse.navbar-collapse
                    ul.nav.navbar-nav.ml-auto
                        li.nav-item.active
                            a.nav-link(href='#') Home
                        li.nav-item
                            a.nav-link(href='#') pages
                        li.nav-item
                            a.nav-link(href='#') faq
                        li.nav-item
                            a.nav-link(href='#') blog
                        li.nav-item
                            a.nav-link(href='#') contact
                    .search
                        +svg('search-icon','search-solid')