.footer {
  background: #000;
  padding-top: 6.25rem;
  padding-bottom: 3.125rem;
  color: $white;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &_mb {
    margin-bottom: 3.125rem;
  }
}

.logo-footer {
  fill: $white;
  width: 55px;
  height: 30px;
  margin-right: 10px;
}

.footer-contact-info {

  margin-bottom: 2.625rem;

  &__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 1.375rem;
  }
}

.footer-icon {
  height: 15px;
  width: 14px;
  fill: $white;
  margin-right: 1rem;
  margin-top: 4px;

}

.footer-soc-icon {
  height: 18px;
  width: 18px;
  fill: $white;
  margin-right: .875rem;
}

.span-footer {
  margin-bottom: 0;
  color: $white;
  font-size: 1rem;
}

.footer-menu {

  &__link {
    color: $white;
  }
}

.subscribe {
  padding-left: 2.125rem;

  @media (max-width: 991px) {
    padding-left: 0;
  }

  &__span {
    color: $white;
    margin-bottom: 1.5rem;
    display: inline-block;
  }

  &__lead {
    margin-bottom: 1.625rem;
  }

  &__form {

  }

  &__input {
    width: 255px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid $white;
    background-color: #000;
    color: $white;

    &::placeholder {
      color: $white;
    }

    @media (max-width: 1200px) {
      width: 205px;
    }

    @media (max-width: 767px) {
      width: 185px;
    }
  }
}

.send-email {
  fill: #000;
  width: 48px;
  height: 48px;
  background-color: $white;
  padding: 10px 5px 8px 5px;
  cursor: pointer;
  margin-left: -12px;
  margin-bottom: 2px;
}