.partners {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  background-color: #F1F1F1;
}

.slider-partners__item {
  width: 270px;
  height: 120px;
  background-color: #fff;
  padding: 40px 85px;
}

.partners .owl-dots {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
}

.partners .owl-carousel button.owl-dot {
  height: 10px;
  width: 10px;
  background-color: #B9BABA;
  margin-right: 10px;
  border-radius: 50%;
}

.partners .owl-dots button.active {
  height: 20px;
  width: 20px;
  background-color: $green;
  margin-right: 10px;
  border-radius: 50%;
}