.service {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 8.125rem;

}

.service-img {
  width: 55px;
  height: 50px;

  &_mb {
    margin-bottom: 2.5rem;
  }
}

.service .owl-carousel .owl-nav button.owl-prev, .service .owl-carousel .owl-nav button.owl-next span{
  font-size: 44px !important;
}

