.testimonial {
  //padding-top: 6.25rem;
  //padding-bottom: 100px;
}

.slider-testimonial {

}

.slider-testimonial__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.slider-testimonial__item {
  background: url("../img/person.png") no-repeat center center;
  height: 700px;

  @media (max-width: 991px) {
    background: none;
    height: auto;
  }
}

.testimonial .owl-dots {
  margin-left: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30%;

  @media (max-width: 991px) {
    position: relative;
    bottom: 20px;

  }
}

.testimonial .owl-carousel button.owl-dot {
  height: 10px;
  width: 10px;
  background-color: #B9BABA;
  margin-right: 10px;
  border-radius: 50%;
}

.testimonial .owl-dots button.active {
  height: 20px;
  width: 20px;
  background-color: $green;
  margin-right: 10px;
  border-radius: 50%;
}
