.theme {
  background-color: #C0C0C0;
  padding-top: 6.25rem;
  padding-bottom: 5.625rem;
  text-align: center;
}

.play-icon {
  width: 28px;
  height: 32px;

  &_mb {
    padding-bottom: 6.25rem;
  }
}

.theme-down {
  width: 24px;
  height: 14px;
}