.top-header {
  padding-top: 2rem;
  padding-bottom: 1.125rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo-img {
  margin-right: 11px;
}

.logo-text {
  font-size: 22px;
  text-transform: uppercase;

  &_green {
    color: $green;
  }

  &_white {
    color: $white;
  }
}

.nav .active{

  & .nav-link{
    color: $green;
    padding-bottom: 10px;
    border-bottom: 3px solid $green;
  }
}

.nav-link {
  text-transform: uppercase;
  color: $grey;
  padding: 0;
  margin-right: 16px;
  padding-left: 4px !important;
  padding-right: 4px !important;
  &:hover {
    color: $green;
    border-bottom: 3px solid $green;
    padding-bottom: 10px;
  }
}

.navbar {
  padding: 1.875rem 0 1.125rem 0;
}

.search-icon {
  height: 15px;
  width: 15px;
  margin-bottom: 10px;
}

.nav >.nav-item:last-child .nav-link {
  margin-right: 95px;
}