.why-we {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;

}

.why-we__item {
  display: flex;
  margin-bottom: 3.75rem;
}

.why-we__icon {
  margin-right: 28px;
}

.why-we__item:hover {
  .anchor-svg {
    background-color: $green;
  }
  .why-we__content .title-h3 {
    color: $green;
  }
}

.anchor-svg {
  width: 4.6875rem;
  height: 4.6875rem;
  background-color: #18191B;
  fill: $white;
  border-radius: 50%;
  padding: 1rem;
}