.works {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

ul.tabs{
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 6.25rem;

  & >tab-link:not(:last-child) {
    padding-bottom: 1.625rem;
  }

}

ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding-left: 2.1875rem;
  cursor: pointer;
  position: relative;
  font-weight: bold;

  &:hover::after {
    content: '';
    width: 4px;
    height: 100%;
    background-color: $green;
    top: 0;
    left: 0;
    position: absolute;
  }
}

ul.tabs li.current{
  position: relative;
  color: $green;
  &::after {
    content: '';
    width: 4px;
    height: 100%;
    background-color: $green;
    top: 0;
    left: 0;
    position: absolute;
  }
}

.tab-content{
  display: none;
}

.tab-content.current{
  display: flex;
  flex-wrap: wrap;

}

.tab-img {
  width: 100%;
  margin-bottom: 1.8125rem;
  padding: 11px;
}

.tab-more {
  background: none;
  color: $color;
  display: inline-block;
  padding-left: 2.1875rem;
  cursor: pointer;
  position: relative;
  font-weight: bold;

  &:hover {
    color: $green;

    .arrow-right{
      fill: $green;
    }
  }
}

.arrow-right {
  width: 24px;
  height: 14px;
  fill: $color;
  margin-left: 2px;
}